.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 12px;
  width: 50%;
}

.list {
  display: flex;
  justify-content: center;
  margin: 48px auto 0;
  max-width: 960px;
  flex-wrap: wrap;
}

.circle {
  list-style: none;
  padding: 0;
  margin-right: 16px;
  margin-bottom: 48px;
}